<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- https://github.com/narfdotpl/leet -->
        <title>leet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="http://lab.narf.pl/naif.css/naif.min.css" rel="stylesheet">
    </head>
    <body>
        <div id="main-wrapper" class="narrow">

            <header class="centered">
                <h1>leet</h1>
            </header>

            <p>
                Collection of words and short phrases written in leetspeak by <a href="http://narf.pl/">@narfdotpl</a>.
                Looks best in Chrome/<a href="https://raw.github.com/narfdotpl/leet/master/screen-shot.png">Safari</a> on a Mac.
                The <a href="https://github.com/narfdotpl/leet">source</a> is on GitHub.
            </p>

            <ul>
                {{ inner_ul }}
            </ul>
        </div>

        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-8752416-2']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
